<footer class="bg-dark text-light p-4">
    <div class="container">
      <div class="row">
        <!-- For Clients Section -->
        <div class="col-md-3">
          <h5>For Clients</h5>
          <ul class="list-unstyled">
            <li><a href="URL_HERE" class="text-light">How to hire</a></li>
            <li><a href="URL_HERE" class="text-light">Talent Marketplace</a></li>
            <li><a href="URL_HERE" class="text-light">Project Catalog</a></li>
            <li><a href="URL_HERE" class="text-light">Hire an agency</a></li>
            <li><a href="URL_HERE" class="text-light">Enterprise</a></li>
            <li><a href="URL_HERE" class="text-light">Any Hire</a></li>
            <li><a href="URL_HERE" class="text-light">Contract-to-hire</a></li>
            <li><a href="URL_HERE" class="text-light">Direct Contracts</a></li>
            <li><a href="URL_HERE" class="text-light">Hire worldwide</a></li>
            <li><a href="URL_HERE" class="text-light">Hire in the USA</a></li>
          </ul>
        </div>
  
        <!-- For Talent Section -->
        <div class="col-md-3">
          <h5>For Talent</h5>
          <ul class="list-unstyled">
            <li><a href="URL_HERE" class="text-light">How to find work</a></li>
            <li><a href="URL_HERE" class="text-light">Direct Contracts</a></li>
            <li><a href="URL_HERE" class="text-light">Find freelance jobs worldwide</a></li>
            <li><a href="URL_HERE" class="text-light">Find freelance jobs in the USA</a></li>
            <li><a href="URL_HERE" class="text-light">Win work with ads</a></li>
            <li><a href="URL_HERE" class="text-light">Exclusive resources with Freelancer Plus</a></li>
          </ul>
        </div>
  
        <!-- Resources Section -->
        <div class="col-md-3">
          <h5>Resources</h5>
          <ul class="list-unstyled">
            <li><a href="URL_HERE" class="text-light">Help & support</a></li>
            <li><a href="URL_HERE" class="text-light">Success stories</a></li>
            <li><a href="URL_HERE" class="text-light">Upwork reviews</a></li>
            <li><a href="URL_HERE" class="text-light">Resources</a></li>
            <li><a href="URL_HERE" class="text-light">Blog</a></li>
            <li><a href="URL_HERE" class="text-light">Community</a></li>
            <li><a href="URL_HERE" class="text-light">Affiliate programme</a></li>
            <li><a href="URL_HERE" class="text-light">Free Business Tools</a></li>
          </ul>
        </div>
  
        <!-- Company Section -->
        <div class="col-md-3">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li><a href="URL_HERE" class="text-light">About us</a></li>
            <li><a href="URL_HERE" class="text-light">Leadership</a></li>
            <li><a href="URL_HERE" class="text-light">Investor relations</a></li>
            <li><a href="URL_HERE" class="text-light">Careers</a></li>
            <li><a href="URL_HERE" class="text-light">Our impact</a></li>
            <li><a href="URL_HERE" class="text-light">Press</a></li>
            <li><a href="URL_HERE" class="text-light">Contact us</a></li>
            <li><a href="URL_HERE" class="text-light">Partners</a></li>
            <li><a href="URL_HERE" class="text-light">Trust, safety & security</a></li>
            <li><a href="URL_HERE" class="text-light">Modern slavery statement</a></li>
          </ul>
        </div>
      </div>

      <div>
        <h4>Follow Us</h4>
      </div>
      <div>
        <img src="">
        <img src="">
        <img src="">
        <img src="">
        <img src="">
      </div>
    </div>
    <hr>

    <div class="d-flex">
        <div>
            <p>© 2015 - 2024 Upwork® Global Inc</p>
        </div>
        <div>
            <ul class="d-flex">
                <li class="me-3"><a href="URL_HERE" class="text-light">Terms of Service</a></li>
                <li class="me-3"> <a href="URL_HERE" class="text-light">Privacy Policy</a></li>
                <li class="me-3"><a href="URL_HERE" class="text-light">CA Notice at Collection</a></li>
                <li class="me-3"><a href="URL_HERE" class="text-light">Cookie Settings</a></li>
                <li class="me-3"><a href="URL_HERE" class="text-light">Accessibility</a></li>
            </ul>
        </div>
    </div>
  </footer>
  