<div class="bg-dark text-light">
    <div class="d-flex mt-5">
        <div class="col-md-4 m-3">
            <h6>UPWORK ENTERPRISES</h6>
            <h1 class="bring">Bring top talent<br> to your business,<br> your way</h1>
            <p class="mt-5">Build your dream team, fill skill gaps, and<br> scale with our full-service, customizable <br>Enterprise platform.</p>
            <button class="btn btn-success">Let's talk</button>
        </div>
        <div class="mt-5">
            <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/668ffa0a7877bb772cd2d103_new%20(1).png" width="100%">
        </div>
    </div>
    <div class=" py-3">
        <div class="d-flex align-items-center mb-3">
            <h5>Trusted By</h5>
            <div class="d-flex flex-wrap">
                <!-- Logos -->
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66616bdf217f58d57aca6452_Microsoft.png" class="img-fluid me-3" alt="Microsoft" style="max-height: 80px;">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66616bdff7b16a3d1048d64f_Bissell-2.png" class="img-fluid me-3" alt="Bissell" style="max-height: 80px;">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66616bdfe71f7ef0550f7de3_Bissell.png" class="img-fluid me-3" alt="Bissell" style="max-height: 80px;">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66b9f5fe0d6ab6a1d8ac341f_Cloudflare-Logo.svg" class="img-fluid me-3" alt="Cloudflare" style="max-height: 80px;">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66616bdf99e89c568ac34ce1_airbnb-2.png" class="img-fluid me-3" alt="Airbnb" style="max-height: 80px;">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/66616bdfe71f7ef0550f7deb_airbnb.png" class="img-fluid me-3" alt="Airbnb" style="max-height: 80px;">
            </div>
            <h5>And More</h5>
        </div>
    </div>
    <div class="container py-4">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <!-- Text Section -->
            <div class="col-md-6 ">
                <h1 class="num">HOW IT WORKS</h1>
                <p class="p"><span class="num">1.</span> Tell us about your project and the skills you're looking for</p>
                <p class="p"><span class="num">2.</span> Instantly browse qualified talent with proven track records</p>
                <p class="p"><span class="num">3.</span> Hire quickly and securely with our customizable tools</p>
            </div>
    
            <!-- Video Section -->
            <div class="col-md-6 ">
                <video class="img-fluid" controls width="100%" height="50px">
                    <source src="assets/hiring .mp4" type="video/mp4" >
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="mt-5 small">
        <div>        
            <h2 class="text-center from">From small projects to complex initiatives, we can help</h2>
        </div>        
        <div class="d-flex ">
            <div class="p-5">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f85799d8795fc62c221237_productivity.webp">
                <h4>Move projects across the finish line</h4>
                <p> Complete tasks and short-term projects with pros who can meet your business needs.</p>
            </div>

            <div class="p-5">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f857993d65c86935ff8540_public.webp">
                <h4>Adapt and expand your workforce</h4>
                <p> Scale your team to get support for projects with multiple deliverables anytime.</p>
            </div>
    
            <div class="p-5">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f857993f7dc4505b07aea6_rising-talent.webp">
                <h4>Add more talent to your bench</h4>
                <p> Integrate new roles into your team to accomplish core company objectives.</p>
            </div>
    
            <div class="p-5">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f85799920d98e3e96fa051_flag.webp">
                <h4>Delegate a little or a lot to our team</h4>
                <p> Explore a variety of managed solutions to help you deliver complex projects.</p>
            </div>
        </div>

        
    </div>

    <div>
        <div class="row m-5">
            <div class="col-md-4 mb-3">
                <div class="card rounded bg-dark text-light">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f85c9df4a2f1ba4e0a574d_Shot31_Upwork_Q2%20Content%20Development_00743_final%201%20(1).webp">
                    <div class="card-body">
                        <h5 class="card-title">Staff a highly-skilled team, hired with intention</h5>  
                        <p>Connect with Expert-Vetted talent, prescreened for experience on the latest technologies like OpenAI platform</p>
                        <a class="text-light" href="https://www.upwork.com/enterprise/features/talent">View Talent Feature</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card rounded  bg-dark text-light">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f85c9d4ab18bf8a70d235f_Shot25_Upwork_Q2%20Content%20Development_01068_final%201%20(1).webp">
                    <div class="card-body">
                        <h5 class="card-title">Scout and hire talent in days, not months</h5>  
                        <p>Leverage our sourcing experts to create a custom talent solution that expedites your hiring and your result</p>
                        <a class="text-light" href="https://www.upwork.com/enterprise/features/scale">View scale Feature</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 ">
                <div class="card rounded bg-dark text-light">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/65f85c9d8991f2104b1ed2e6_Shot36_Upwork_Q2%20Content%20Development_01516_final%202%20(1).webp">
                    <div class="card-body">
                        <h5 class="card-title">Reach the best, wherever they work, however they work</h5>  
                        <p>Source, manage, and pay your hybrid team with the ease and flexibility important to attract top talent.</p>
                        <a class="text-light" href="https://www.upwork.com/enterprise/features/security">View security Feature</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="p-5 d-flex small">
        <div>
            <div>
                <h1>Get ahead with AI</h1>
                <p>Partner with independent talent on Upwork to help AI work for your business</p>
            </div>
            <div class="mt-5">
                <div class="d-flex ">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/661cf1d9cb188572f7fcac0c_price-tag.svg">
                    <p class="m-3">Label your training data</p>
                </div>
                <div class="d-flex">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/661cf1babddede3ef22e8c5b_engineering-architecture.svg">
                    <p class="m-3">Build a custom chatbot</p>
                </div>
                <div class="d-flex">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/661cf1c79ac9cddebfd2ea18_code.svg">
                    <p class="m-3">Develop your own AI model</p>
                </div>
                <div class="d-flex">
                    <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/661cf1d08d46cb291ed5034e_freelancer.svg">
                    <p class="m-3">And more with our Expert-Vetted Talent</p>
                </div>

            </div>
        </div>
        <div class="m-5">

            <video class="img-fluid" controls width="100%" height="50px">
                <source src="blob:https://player.vimeo.com/28ed3f87-4c87-4e7b-8f99-2d4da0e4b7a2" type="video/mp4" >
                Your browser does not support the video tag.
            </video>
            
        </div>
    </div>

    <div class="m-5">
        <div>
            <h1 class="work">Work with a dedicated Upwork team member for each step</h1>
            <p>Enterprise clients have an assigned support team for your business each step along the way.</p>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-3 mb-3">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/666aaf9edf30c4abc3e9e3d5_client.png" alt="Logo 1" class="img-fluid" width="100">
                <h5>Account Manager</h5>
                <p>Maintains your account and works with your team to maximize the return on your Upwork investment.</p>
            </div>
            <div class="col-md-3  mb-3">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/666aaf9ea2dd970e1448af18_expertise.png" alt="Logo 2" class="img-fluid" width="100">
                <h5>Solution Architect</h5>
                <p>Develops custom talent solutions for your organization and unique strategic goals..</p>
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://cdn.prod.website-files.com/603fea6471d9d8559d077603/666aaf9ee0e580742d35c934_rating.png" alt="Logo 3" class="img-fluid" width="100">
                <h5>Coustomer Sucess</h5>
                <p>Delivers comprehensive support for your team with training, reporting, and end-to-end consultation on projects, hiring and talent management.</p>
            </div>
        </div>
        <div>
            <button class="btn btn-success">Let's Talk</button>
        </div>

        <div class="mt-5">

            
        </div>
    </div>
    
    
    
    
    
</div>