
<div class="container">
    <div class=" d-flex">
        <div class="me-5 ">
            <h1 class="howWork">How Work<br>Should Work</h1>
            <p class="forget">Forget the old rules. You can have the best people.<br>
                Right now. Right here.</p>
                <button class="btn btn-success">Get started</button>
        </div>
        <div class="sitimg mt-3">
            <img loading="" srcset="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale,w_440,h_300,f_auto,q_auto,dpr_2.0/brontes/hero/searching-talent@1x.png 1x,https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale,w_440,h_300,f_auto,q_auto,dpr_2.0/brontes/hero/searching-talent@2x.png 2x" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale,w_440,h_300,f_auto,q_auto,dpr_2.0/brontes/hero/searching-talent@2x.png" width="440" height="300" alt="Global talent illustration" data-qa="hero-image-desktop" class="cld-responsive d-none d-md-block" data-v-5ea3e0d0="">
        </div>
    </div>

    <div class="mt-5">
        <h5>Trusted By</h5>
        <div>
            <img class="me-3" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/colored/microsoft.svg">
            <img class="me-3" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/colored/airbnb.svg">
            <img class="me-3" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/colored/bissell.svg">
        </div>
    </div>

    <div class="d-flex mt-5">
        <div>
            <img src="assets/fransisPic.png">
        </div>
        <div class="m-5">
            <h2>Up your work game, it’s easy</h2>
            <h5>No cost to join</h5>
            <p>Register and browse talent profiles, explore projects, or even book a consultation.</p>
            <h5>Post a job and hire top talent</h5>
            <p>Finding talent doesn’t have to be a chore. Post a job or we can search for you!</p>
            <h5>Work with the best—without breaking the bank</h5>
            <p>Upwork makes it affordable to up your work and take advantage of low transaction rates.</p>
        </div>
    </div>
    <div class="backg text-center p-5">
        <div class="bg-white mx-auto p-4 col-md-8 col-lg-6">
            <h2>Get Instant Answers</h2>
            <p>Hi there! 👋 I'm Uma, Upwork's Mindful AI.<br>
                How can I help you today?</p>
        </div>
        <div class="bg-dark mx-auto p-3 col-md-8 col-lg-5 m-4 rounded-pill">
            <button class="bg-white rounded-pill hir-btn">I'm hiring for project</button>
            <button class="bg-white rounded-pill hir-btn">I'm hiring for Work</button>
        </div>
    </div>
    <div>
        <div>
          <h1>Browse talent by category</h1>
          <p>Looking for work? <a class="text-dark" href="https://www.upwork.com/nx/search/jobs/?sort=recency">Browse jobs</a></p>
        </div>
        
        <div class="row">
          <!-- Card 1 -->
          <div class="col-lg-3 col-md-6 mb-4 ">
            <div class="card h-100 p-3">
              <h5 class="card-title">Development & IT</h5>
              <p class="card-text">
                <span class="star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>
          
          <!-- Card 2 -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">AI Services</h5>
              <p class="card-text">
                <span class="star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Design & Creative</h5>
              <p class="card-text">
                <span class=" star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Sales & Marketing</h5>
              <p class="card-text">
                <span class="star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Writting & Translation</h5>
              <p class="card-text">
                <span class="star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Admin & customer <br>Support</h5>
              <p class="card-text">
                <span class="star-rating">★ </span>4.75/5 
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Finance & Accounting</h5>
              <p class="card-text">
                <span class="star-rating">★ </span> 4.75/5
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 p-3">
              <h5 class="card-title">Engineering & Acheitecture</h5>
              <p class="card-text">
                <span class="star-rating">★ </span>4.7/5 
                <span class="mx-5"></span> 
                <span class="skills">Skills</span>
              </p>
            </div>
          </div>
        </div>
    </div>
      
    <div class="d-flex ">
        <div class="enterprise p-5">
            <h4 class="text-light">Enterprise Suite</h4>
            <h1><span class="text-light">This is how</span> <br>
                <span class="good">
                    good companies <br>
                find good company.
                </span>
            </h1>
            <p class="text-light">Access the top 1% of talent on Upwork, and a full suite of hybrid workforce management tools. This is how innovation works now.</p>
            <button class="btn btn-light">Learn More</button>
        </div>
        <div>
            <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/f_auto,q_auto/brontes/for-enterprise/enterprise-2023.jpg" width="100%">
        </div>
    </div>

    <div class="container py-5 position-relative">
        <div class="row">
          <!-- Left section with heading and content -->
          <div class="col-lg-6">
            <h1>Why businesses turn to Upwork</h1>
            <ul class="list-unstyled">
              <li class="mb-4">
                <h4><i class="bi bi-check-circle-fill me-2"></i>Proof of quality</h4>
                <p>Check any pro’s work samples, client reviews, and identity verification.</p>
              </li>
              <li class="mb-4">
                <h4><i class="bi bi-check-circle-fill me-2"></i>Hire with confidence</h4>
                <p>Interview potential fits for your job, negotiate rates, and only pay for work you approve.</p>
              </li>
              <li class="mb-4">
                <h4><i class="bi bi-check-circle-fill me-2"></i>Safe and secure</h4>
                <p>Focus on your work knowing we help protect your data and privacy. We’re here with 24/7 support if you need it.</p>
              </li>
            </ul>
          </div>
      
          <!-- Right section with rating and award -->
          <div class="col-lg-6 text-start he">
            <div class="bg-success text-white p-4 rounded custom-height">
              <h3 class="content-spacing">We’re the world's work marketplace</h3>
              <p class="mb-0 content-spacing">
                <span class="star-rating display-5">★ 4.9/5</span><br>
                Clients rate professionals on Upwork
              </p>
              <p class="mt-3 content-spacing">
                <strong>Award winner</strong><br>
                G2’s 2021 Best Software Awards
              </p>
            </div>
          </div>
          
      
        <!-- Image, positioned between both sections -->
        <!-- <img class="danceImg" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale,w_433,h_694,q_auto,dpr_2.0,f_auto/brontes/why-upwork/person-with-headset.png" alt="Image description" class="floating-image"> -->
      </div>

      <!-- <div class="d-flex">
        <div>
            <img class="w-50" src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload//q_auto,dpr_2.0,f_auto/brontes/for-talents/find-great-work@2x.jpg" >
        </div>
        <div class="talent bg-primary">
            <div >
                <h4>For Talent</h4>
                <h1>Find great<br>work</h1>
                <p>Meet clients you’re excited to work with and take<br>
                    your career or business to new heights.</p>
            </div>
            <div>
                <hr>
                <p>Find opportunities for<br> every stage of your<br> freelance career</p>
            </div>

        </div>
      </div> -->
      <div class="trusted-section">
        <h2>Trusted By leading brands and startups</h2>
        
        <div class="scroll-container">
          <div class="brand-box">
            <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload//general/logobar/colored/nasdaq-light.svg" alt="Nasdaq Logo" class="brand-logo"> <!-- Add actual logo path -->
            <blockquote>
              “Upwork enables us to differentiate ourselves<br> from our competitors and produce content at<br> a higher caliber.”
            </blockquote>
            <p class="author">Josh Machiz, Chief Digital Officer</p>
            <hr>
            <div class="results mt-5">
              <div>
                <strong>Emmy Winning</strong><br>
                Facebook Watch program
              </div>
              <div>
                <strong>Millions</strong><br>
                of impressions generated per client per IPO
              </div>
            </div>
          </div>
          
          <div class="brand-box2">
            <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload//general/logobar/colored/microsoft-lg-light.svg" alt="Microsoft Logo" class="brand-logo"> <!-- Add actual logo path -->
            <blockquote>
              “One of the advantages of utilizing<br> freelancers is finding talent with different<br> skills quickly as our needs change.”
            </blockquote>
            <p class="author">Carol Taylor, Director of Content Experience</p>
            <hr>
            <div class="results">
              <div>
                <strong>50% Faster</strong><br>
                launch of projects
              </div>
              <div>
                <strong>10,000</strong><br>
                projects completed
              </div>
            </div>
          </div>

          <div class="brand-section">
            <img src="assets/ladypic2.png">
          </div>
          
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row mt-3 border p-3 rounded">
        <div class="me-md-5 mb-3 mb-md-0">
          <h1>We support Ukraine</h1>
          <p>We are taking action to help our freelancers, our clients, and the people of Ukraine—and so can you.</p>
          <button class="btn btn-light lm">
            <a href="https://www.upwork.com/help-ukraine" class="text-dark lma">Learn more</a>
          </button>
        </div>
        <div>
          <img src="assets/handheart.png" class="img-fluid">
        </div>
      </div>

      <div class="skills-container d-flex mt-5">
        <ul class="up">
          <li (click)="showSkills('topSkills')" [ngClass]="{'active': selected === 'topSkills'}">Top Skills</li>
          <li (click)="showSkills('trendingSkills')" [ngClass]="{'active': selected === 'trendingSkills'}">Trending Skills</li>
          <li (click)="showSkills('topSkillsInUS')" [ngClass]="{'active': selected === 'topSkillsInUS'}">Top Skills in US</li>
          <li (click)="showSkills('projectCatalog')" [ngClass]="{'active': selected === 'projectCatalog'}">Project Catalog</li>
        </ul>
      
        <div class="skills-list">
          <ng-container *ngIf="selected === 'topSkills'">
            <!-- Top Skills Data -->
             <div class="d-flex m-5">
                <div>
                    <ul>
                        <li>Generative AI Specialists</li>
                        <li>Data Entry Specialists</li>
                        <li>Video Editors</li>
                        <li>Data Analyst</li>
                        <li>Shopify Developer</li>
                        <li>Ruby on Rails Developer</li>
                        <li>Android Developer</li>
                        <li>Bookkeeper</li>
                        <li>Content Writer</li>
                        <li>Copywriter</li>
                        <li>Data Scientist</li>
                        <li>Front-End Developer</li>
                      </ul>
                </div>
                <div>
                    <ul>
                        <li>JavaScript Developer</li>
                        <li>Logo Designer</li>
                        <li>Mobile App Developer</li>
                        <li>PHP Developer</li>
                        <li>Python Developer</li>
                        <li>Resume Writer</li>
                        <li>SEO Expert</li>
                        <li>Social Media Manager</li>
                        <li>Software Developer</li>
                        <li>Software Engineer</li>
                        <li>Technical Writer</li>
                        <li>UI Designer </li>
                    </ul>
                </div>
             </div>

          </ng-container>
      
          <ng-container *ngIf="selected === 'trendingSkills'">
            <!-- Trending Skills Data -->
             <div class="d-flex m-5">
                <div>
                    <ul>
                        <li>JavaScript Developer</li>
                        <li>Logo Designer</li>
                        <li>Mobile App Developer</li>
                        <li>PHP Developer</li>
                        <li>Python Developer</li>
                        <li>Resume Writer</li>
                        <li>SEO Expert</li>
                        <li>Social Media Manager</li>
                        <li>Software Developer</li>
                        <li>Software Engineer</li>
                        <li>Technical Writer</li>
                        <li>UI Designer</li>
                      </ul>
                </div>
                <div>
                    <ul>
                        <li>Ghostwriters</li>
                        <li>Unity 3D Developers</li>
                        <li>Business Consultants</li>
                        <li>Coders</li>
                        <li>Web Developers</li>
                        <li>Illustrators</li>
                        <li>Google AdWords Experts</li>
                        <li>Digital Marketers</li>
                        <li>Project Managers</li>
                        <li>Ruby Developers</li>
                        <li>AngularJS Devleopers</li>
                        <li>Full Stack Developers</li>

                    </ul>
                </div>
             </div>
 
          </ng-container>

          <ng-container *ngIf="selected==='topSkillsInUS'">
            <div class="d-flex m-5">
                <div>
                    <ul>
                        <li>Accountants in US</li>
                        <li>CAD Designers in US</li>
                        <li>Curriculum Developer in US</li>
                        <li>Ebook Designers in US</li>
                        <li>Fashion Designers in US</li>
                        <li>Ghostwriters in US</li>
                        <li>Google Adwords Experts in US</li>
                        <li>Graphic Designers in US</li>
                        <li>JavaScript Developers in US</li>
                        <li>Product Developers in US</li>
                        <li>Shopify Developers in US</li>
                        <li>SquareSpace Developers in US</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Accountants Near North Carolina</li>
                        <li>Adobe Photoshop Experts Near San Antonio</li>
                        <li>Android Developers Near San Francis</li>
                        <li>Bookkeepers Near Los Angeles, CA</li>
                        <li>Business Coaches Near Atlanta, GA</li>
                        <li>Fashion Designers Near Los Angel</li>
                        <li>Grant Writers Near Chicago</li>
                        <li>Graphic Designers Near New York,</li>
                        <li>Logo Designers Near Pittsburgh,</li>
                        <li>Mechanical Engineers Near Seattle</li>
                        <li>Music Producers Near Chicago</li>
                        <li>Photo Editors Near Los Angeles, CA</li>
                    </ul>
                </div>
            </div>
          </ng-container>

          <ng-container *ngIf="selected==='projectCatalog'">
            <div class="d-flex m-5">
                <div>
                    <ul>
                        <li>Generative AI Services</li>
                        <li>Resume Writing Services</li>
                        <li>SEO Services</li>
                        <li>Translation Services</li>
                        <li>Transcription Services</li>
                        <li>Virtual Assistant Services</li>
                        <li>Email Marketing Services</li>
                        <li>Web Design Services</li>
                        <li>Proofreading Services</li>
                        <li>Business Consulting Services</li>
                        <li>Logo Design Services</li>
                        <li>Architecture/Interior Design Service</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Content Marketing Services</li>
                        <li>Survey Services</li>
                        <li>Landscape Design Services</li>
                        <li>Photoshop Services</li>
                        <li>Mobile App Development Services</li>
                        <li>Data Entry Services</li>
                        <li>Building Information Modeling Services</li>
                        <li>Podcast Editing Services</li>
                        <li>Wellness Services</li>
                        <li>Video Marketing Services</li>
                        <li>WordPress Development Services</li>
                        <li>Ecommerce Services</li>
                    </ul>
                </div>
            </div>
          </ng-container>
      
          <!-- Add other containers similarly for 'topSkillsInUS' and 'projectCatalog' -->
        </div>
      </div>
      
      
      
      
      

    
</div>


